@keyframes site_appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    -webkit-animation-name: site_appear;
    -moz-animation-name: site_appear;
    -o-animation-name: site_appear;
    animation-name: site_appear;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;

    font-family: 'Ubuntu Mono', monospace;
    font-weight: 300;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu Mono', monospace !important;
    font-weight: 400;
}

.fixed-height-block {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.top-logo {
    padding: 0 !important;
}

.responsive-blog-footer {
    background: #4a4a4a;
    padding: 3rem 3rem;
    color: white;
}

@media screen and (max-width: 39.9375em) {
    .responsive-blog-footer h4 {
        font-size: 1.5rem;
    }
}

.responsive-blog-footer p {
    color: #8a8a8a;
}

.responsive-blog-footer .mailing-list {
    margin-bottom: 1.5rem;
}

.responsive-blog-footer .mailing-container {
    margin-bottom: 2rem;
}

.responsive-blog-footer .about-section, .responsive-blog-footer .tag-section {
    margin-bottom: 2rem;
}

.responsive-blog-footer .about-section a, .responsive-blog-footer .tag-section a {
    color: #1779ba;
}

.responsive-blog-footer .subscribe-button {
    background-color: #1779ba;
}

.responsive-blog-footer .subscribe-button:hover {
    background-color: #146aa3;
    transition: color 0.3s ease-in;
}

.responsive-blog-footer .fa-chevron-circle-up {
    font-size: 3rem;
    color: #8a8a8a;
}

.responsive-blog-footer .fa-chevron-circle-up:hover {
    color: #b0b0b0;
    transition: color 0.3s ease-in;
}

.no-margin {
    margin: 0;
}

.charts {
    width: 100%;
    height: auto;
    background: url(../images/index-header.jpg) no-repeat center transparent;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    color: #ffffff;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    display: block;
}

.dark-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.charts-title {
    position: relative;
    z-index: 2;
    margin-top: 50px;
}

.welcome {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.charts-content {
    position: relative;
    z-index: 2;
    margin-top: 80px;
    margin-bottom: 80px;
}

.charts-number {
    font-size: 4rem;
}

.why-we {
    position: relative;
}

.why-we > .text-center > h2 {
    margin-top: 40px;
}

.why-we > .row {
    margin-bottom: 40px;
}

.last-videos {
    background: #5e5e5e;
    color: #ffffff;
}

.video-item {
    margin-bottom: 20px;
}

.video-item a,
.video-item a:visited {
    color: #ffffff;
}

.video-item a:hover,
.video-item a:active {
    color: #fafafa;
}

.block-header {
    margin-top: 40px;
    margin-bottom: 40px;
}

#feedback-form {
    margin-bottom: 40px;
}

#top-nav-bar .menu li {
    display: inline-block;
}

@media screen and (max-width: 480px) {
    #top-nav-bar .menu li {
        display: block;
        text-align: center;
    }

    #top-nav-bar.top-bar input {
        margin: 0 auto 10px auto;
    }
}

section.content {
    /*height: 1000px;*/
    background: #f2f2f2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bread-crumbs {
    margin-top: 10px;
}

.course-parent-item {
    padding-bottom: 20px;
    padding-top: 10px;
    /*border-top: 1px solid rgba(0,0,0,0.2);*/
    margin-top: 10px;
}

.course-parent-item:nth-child(even) {
    background: #e6e6e6;
}

.side-bar-content {

}

.side-bar-content ul {
    padding-left: 0;
    margin-left: 0;
}

.side-bar-content ul li {
    list-style-type: none;
    position: relative;
    padding-left: 35px;
}

.side-bar-content ul li:before {
    font-family: FontAwesome, sans-serif;
    content: "\f0a4";
    margin-right: 10px;
    position: absolute;
    left: 0;
    -webkit-transition: left 0.5s;
    -moz-transition: left 0.5s;
    -ms-transition: left 0.5s;
    -o-transition: left 0.5s;
    transition: left 0.5s;
}

.side-bar-content ul li:hover::before {
    animation: horizontal_979 0.72s ease infinite;
    transform-origin: 50% 50%;
}

.horizontal {
    animation: horizontal_979 0.72s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes horizontal_979 {
    0% {
        transform: translate(0, 0)
    }
    50% {
        transform: translate(5px, 0)
    }
    100% {
        transform: translate(0, 0)
    }
}

.main-content {
    padding-bottom: 40px;
}

.course-item {
    margin-bottom: 40px;
}

.course-item img {
    width: 100%;
    margin-bottom: 15px;
}

.course-item p {
    height: 50px;
    overflow: hidden;
}

.category-info {

}

.category-info .column:last-child {
    float: left;
}

.preview {
    position: relative;
}

.cost {
    position: absolute;
    right: -20px;
    top: 15px;
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transform: rotate(40deg);
    width: 115px;
}

.cost.green {
    background: green;
    color: #ffffff;
}

.cost.red {
    background: #e11633;
    color: #ffffff;
}

.play-list {
    height: 450px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.playlist-item {
    margin-top: 10px;
}

.playlist-item.active {
    /*background: #e6e6e6;*/
}

.video-title {
    margin-top: 10px;
}

/*.video-title p {*/
    /*font-size: 2rem;*/
/*}*/

.video-info-actions {
    margin-top: 30px;
}

.video-info-actions .column:last-child {
    float: left;
}

.video-description {
    margin-top: 20px;
}

.comments {
    margin-top: 40px;
}

.comments h3 {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.comments-wrapper {
    margin-top: 30px;
}

.comment-item {
    margin-bottom: 40px;
}

.comment-item .replies {
    margin-top: 20px;
    margin-bottom: 10px;
}

section.code {
    background: #3b3b3b;
    color: #ffffff;
    border: 1px solid #3a3a3a;
    padding-left: 10px;
}

.comment-option {
    margin-top: 10px;
}

.comment-likes {
    width: 20px;
}

.comment-likes .fa {
    cursor: pointer;
}

.comment-likes span {
    color: #22bb5b;
}

.user-info p {
    /*font-size: 0.4rem;*/
}

.comment {
    min-height: 200px;
}